<!-- <?xml version="1.0"?> -->
<robot name="gripper" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Base link -->
    <link name="gripper_base">
        <visual>
            <geometry>
                <cylinder radius="0.025" length="0.03"/> <!-- Base dimensions adjusted -->
            </geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.025" length="0.07"/> <!-- Collision geometry matches visual -->
            </geometry>
        </collision>
        
    </link>
    
    <link name="slider">
        <visual>
            <geometry>
                <box size="0.05 0.15 0.05"/> <!-- Base dimensions adjusted -->
            </geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.15 0.06"/> <!-- Collision geometry matches visual -->
            </geometry>
        </collision>
    </link>

    <!-- Left finger -->
    <link name="jaw_lead">
        <visual>
            <geometry>
                <box size="0.08 0.005 0.05"/> <!-- Finger size -->
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 1.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.08 0.005 0.05"/> <!-- Collision geometry matches visual -->
            </geometry>
        </collision>
    </link>

    <!-- Right finger -->
    <link name="jaw_follow">
        <visual>
            <geometry>
                <box size="0.08 0.005 0.05"/> <!-- Finger size -->
            </geometry>
            <material name="red">
                <color rgba="1.0 0.0 0.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.08 0.005 0.05"/> <!-- Collision geometry matches visual -->
            </geometry>
        </collision>
    </link>

    <joint name = "gripper_base_joint" type = "fixed">
        <parent link = "gripper_base"/>
        <child link = "slider"/>
        <origin xyz="0.0 0.0 0.04" rpy="0 0 0"/>
    </joint>

    <!-- Left finger joint (prismatic for symmetric opening) -->
    <joint name="right_finger_joint" type="fixed">
        <parent link="slider"/>
        <child link="jaw_lead"/>
        <origin xyz="-0.015 0.05 0.055" rpy="0 0 0"/>
        <axis xyz="0 -1 0"/>
        <!-- <limit lower="0" upper="0.05" effort="1.0" velocity="0.5"/> -->
    </joint>

    <!-- Right finger joint (prismatic for symmetric opening) -->
    <joint name="left_finger_joint" type="fixed">
        <mimic joint="right_finger_joint" multiplyer="1.0"/>
        <parent link="slider"/>
        <child link="jaw_follow"/>
        <origin xyz="-0.015 -0.05 0.055" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <!-- <limit lower="0" upper="0.05" effort="1.0" velocity="0.5"/> -->
    </joint>

</robot>