<!-- <?xml version="1.0"?> -->
<robot name="ur5_with_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- UR5e robot arm -->
  <!-- URDF won't build if following args aren't defined. -->
  <xacro:arg name="name" default="ur5"/>
  <xacro:arg name="ur_type" default="ur5"/>
  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>

  <!-- end effector -->
  <xacro:include filename="$(find visualisation)/urdf/gripper.xacro" />

  <!-- Coupler between arm and end effector -->
  <joint name="ur5_gripper_coupler_joint" type="fixed">
    <parent link="tool0"/>
    <child link="gripper_base"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
</robot>